/* sidebar.css */

.sidebar {
  width: 290px;
  height: 100vh;
  background-color: #FFF;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right:1px solid #F6F6F6;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color:#283618;
}

.sidebar-nav {
  flex-grow: 1;
}

.sidebar .section {
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
  color:#283618;
  font-size:12px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
  display:flex;
  flex-direction:column;
   gap:8px;
}

.sidebar li {
    margin: 0px;
    border-radius:8px;
    display:flex;
    align-items:center;

}

.sidebar li a {
    display: flex;
    align-items:center;
    gap:16px;
    padding: 8px 16px;
    color: #283618;
    text-decoration: none;
    font-size:14px;
    font-weight:400;
    width:100%;
}

.sidebar li:hover {
    background: #283618;
    font-weight:400;
}

.sidebar li:hover a {
    color: #FFF;
}


.sidebar a {
  text-decoration: none;
  color: white;
  transition: color 0.2s;
}

.sidebar a:hover {
  color: #007bff;
}

.sidebar-link img:hover {
  color: #FFF;
}

.active-link {
  color: #e74c3c;
  font-weight: bold;
}

.logout-btn {
  margin-top: auto;
  background-color: #dc3545;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  font-weight: bold;
  transition: background-color 0.2s;
}

.logout-btn:hover {
  background-color: #c82333;
}
